app/src/main/assets/node/termux-node-aarch64.tar.gz filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/prebuilt.tgz filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/termux-bootstrap.zip filter=lfs diff=lfs merge=lfs -text
